@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "reset.css";
body {
    font-family: Inter;
    font-style: normal;
    background-color: #FFFFFF;
    color: #333333;
}

.all {
    width: 1770px;
    margin: auto;
    padding: 130px 75px 226px 75px;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 90px;
}

.block {
    display: flex;
    width: 1770px;
    border-top: 1px solid #E0E0E0;
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    width: 270px;
    height: 203px;
}

.model {
    padding-left: 30px;
}

section h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    width: 206px;
    margin-top: -7px;
    margin-bottom: 0px;
}

section h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #828282;
    margin-top: 8px;
    margin-bottom: 0px;
}

.checkbox-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 70px;
}

.checkbox-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    color: #828282;
    cursor: pointer;
}

.checkbox-label:hover {
    color: #F2994A;
}

.toggle-button {
    position: relative;
    width: 28px;
    height: 14px;
    margin: 0;
    vertical-align: top;
    background: #fff;
    border: 1px solid #828282;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 12px;
    height: 12px;
    background-color: #828282;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.toggle-button:checked::after {
    left: 14px;
    background-color: #F2994A;
}

.toggle-button:checked {
    border: 1px solid #F2994A;
}

.toggle-button:checked~.checkbox-label {
    color: #F2994A;
}

.characteristics {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 131px;
    margin-top: 0px;
    margin-left: 214px;
}

.price {
    width: 150px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 50px;
}

.price p {
    margin-top: 0px;
    margin-bottom: 28px;
}

.money {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-left: 28px;
}

.money p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.payments {
    margin-left: 270px;
}

.payments-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.payments-number {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-top: 9px;
    margin-bottom: 0px;
}

.payments button {
    width: 300px;
    height: 70px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #333;
    margin-top: 58px;
    margin-bottom: 0px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

button:hover {
    background: #F2994A;
    color: #FFFFFF;
    border-color: #F2994A;
    border: none;
    outline: none;
    appearance: none;
}

.line-end {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 64px;
}

.loading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 431px;
    height: 70px;
    background-color: #FFFFFF;
    border: 1px solid #333333;
    outline: none;
    appearance: none;
    cursor: pointer;
}